@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  body {
    @apply bg-white text-slate-900 dark:bg-slate-950 dark:text-white transition-colors duration-300;
  }
}

/* Custom Scrollbar */
.scrollbar-custom::-webkit-scrollbar {
  height: 12px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin: 0 20px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}